:root {
	/* colors */
	--green-1: #BACF9D;
	--green-2: #93B278;
	--green-3: #789C4A;
	--green-4: #6F8356;
	
}

.white ( color: #ffffff !important; )

hr { 
	 color: var(--green-4) !important;
	 border-bottom: 0px solid #000000 !important;
	 margin: 0 !important;
	 padding: 0 !important;
}


@keyframes titletext {
  from {color: #ffffff;}
  to {color: #000000;}
}
  
@font-face {
font-family: 'steelfish';
font-style: normal;
font-weight: normal;
src: local('Steelfish Regular'), url('fonts/steelfis.woff') format('woff');
}
.steelfish {
font-family: 'steelfish';
}
.home-cta {
	font-size: 4.6em;
}
.sf-bump {
	font-size: 2em !important;
}

.link_ { text-decoration: none !important; color: var(--green-4); }
.link_:hover { color: var(--green-1); }
.footer-text { font-style: normal !important; }
.footer-text a { text-decoration: none !important; }
.footer-text a:hover { text-decoration: underline !important; }

.site-header {
	background-color: #ffffff;
}
#menu-primary { font-family: 'steelfish'; font-size: 1.2em; }
#menu-primary li a { color: var(--green-4) !important; }
#menu-primary li a:hover { color: var(--green-1) !important; }

.menu-toggle {
	color: #000000 !important;
}

.activated {
	background: var(--green-1);
}

/*
.custom-logo {
	margin-top: 40px;
	border: 3px solid #ffffff;
	float: left;
}
.site-title {
	overflow: visible !important;
	position: relative !important;
	clip: auto !important;
	font-family: 'steelfish';
	text-align: center;
	border: 0px solid #ff0000 !important;
	width: 250px !important;
	height: 50px !important;
	margin-top: 55px;
	margin-left: 85px;
	font-size: 2.3em;
}
.site-title:hover {
	animation-name: titletext;
	animation-duration: 2s;
}
.title-span-t { font-size: 2.3em; }
.title-span-b {
	font-size: 2.1em !important;
	font-weight: 50 !important;
}
*/
.entry-title {
	display: none;
}

.homepage-icons {
	/*color: var(--green-3) !important;*/
}

.homepage-icons a {
	text-decoration: none;
}

.front-page-2 {
	padding: 60px 0 30px 0;
}
.front-page-3 {
	background-color: var(--green-3) !important;
}

i {
	background-color:transparent;
}

.flex { display: flex; }
.flex-1 { flex: 1; }

.card {
	border: 1px solid var(--green-4);
	background-color: #ffffff;
	opacity: .6;
	margin: 50px;
	padding: 50px;
	border-radius: 25px;
}

.overlay { 
	position: relative;
	text-align: center;
	color: white;
	margin:10px;
	font-size: 1.7em;
	font-weight: bold;
}

.overlay h4, p { 
	padding: 0 !important;
	margin: 0 !important;
}

.overlay a { 
	color: white;
}

.overlay-text {
position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/*---FOOTER---*/
.footer-widgets a {
	text-decoration: none;
}

.footer-widgets a:hover {
	text-decoration: underline;
}

.footer-widgets-2 h3 {
	font-size: 2em !important;
	font-family: 'steelfish';
}




/*-----*/

@media screen and (max-width: 2200px) /* all XL screens */ { }
@media screen and (min-width: 2000px) /* all XL screens */ { }
@media screen and (max-width: 1630px) /* XL screens */ { }
@media screen and (max-width: 1430px) /* L screens */ { }

@media screen and (max-width: 1180px) /* intial break */
{
.flex { display: block; }
.flex-1 {
	/*flex: none;*/
	width: 100%;
}
.card {
	background-color: transparent;
	margin: 0px;
	padding: 0px;
	border-radius: 05px;
}
}

@media screen and (max-width: 840px) /* intial break */
{ 

}